<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<% let likeUsernameArray = [] %>
<% let dislikeUsernameArray = [] %>

<body>
<div class="flexContainer" id="flexContainer">
    <div class="postButtonContainer">
        <button id="backgroundButton">Change Color</button>
    </div>
    <h1 class="subtitle">Posts</h1>
    <ol class="postsContainer">
    <% postList.results.forEach(function(post) {%>
        <li class="postContainer">
            <div class="postInfo">
                <h3><%= post.message %> </h3>
                <p> <%= format(post.createdAt, "yyyy-MM-dd") %> </p>
            </div>    
            <img src = <%= post.imageUrl %> alt = "picture illustrating blogpost" > 
            <div class="postInfo">
                <p> Posted by: <%= post.postedBy.name %> - <%= post.postedBy.username %> - <%= post.postedBy.email %></p>
            </div>  
            <div class="postInfo">
                <p> Liked by:  </p> 
                <% post.likedBy.forEach((likedPost) =>{ %>
                <% likeUsernameArray.push(" " + likedPost.username) %>     
                <% }); %>
                <p> <%= likeUsernameArray.join() %> </p> 
            </div>    
            <div class="postButtonContainer">
                    <form method="post" action="/posts/<%= post.id %>/like/">
                        <button class="postButton" type="submit">Like</button>
                    </form> 
            </div> 
            <div class="postInfo">       
                <p>Disliked by: </p> 
                <% post.dislikedBy.forEach((dislikedPost)=>{ %>
                <% dislikeUsernameArray.push(" " + dislikedPost.username) %>     
                <% }); %>
                <p> <%= dislikeUsernameArray.join() %> </p> 
            </div>     
            <div class="postButtonContainer">
                <form method="post" action="/posts/<%= post.id %>/dislike/">
                    <button class="postButton" type="submit">Dislike</button>
                </form> 
            </div>    
        </li>
    <% }); %>
    </ol>
</div>
</body>
<%- include('_footer') -%>
</html>